.btn {
  display: block;
  background-color: $clr-primary-light;
  color: $clr-neutral-100;
  font-size: 1.125rem;
  font-weight: $fw-bold;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.btn-rounded {
  border-radius: 2rem;
  padding: 0.875rem 2.875rem;
}
