.hero {
  overflow: hidden;
  width: 100vw;

  @media (min-width: 1024px) {
    &__text-container {
      margin: 4.75rem 0 0 1rem;
    }
  }

  &__grid {
    padding-top: 1rem;
    display: grid;

    @media (max-width: 1023px) {
      text-align: center;
      grid-template-columns: repeat(2, 100%);
      grid-template-areas: "image" "text";
      gap: 2.75rem;

      .hero__text-container {
        grid-area: text;
      }

      .hero__image-container {
        grid-area: image;
      }
    }

    @media (min-width: 1024px) {
      max-width: 70rem;
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  h2 {
    color: $clr-primary-dark;
    font-size: 2.5rem;
    line-height: 1.15;
    max-width: 18ch;

    @media (max-width: 1023px) {
      margin: 0 auto 1rem;
      padding: 0 1.5rem;
    }

    @media (min-width: 1024px) {
      font-size: 4.5rem;
    }
  }

  p {
    font-size: 1.125rem;
    margin-bottom: 2rem;
    max-width: 40ch;

    @media (max-width: 1023px) {
      margin-left: auto;
      margin-right: auto;
      padding: 0 1.5rem;
    }

    @media (min-width: 1024px) {
      margin-bottom: 2.25rem;
      font-size: 1.25rem;
    }
  }

  button {
    @media (max-width: 1023px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  img {
    width: calc(23.75rem + 30vw);
    max-width: 50rem;
    padding-left: 1.5rem;

    @media (min-width: 1024px) {
      padding-left: 2.75rem;
    }
  }
}
