body {
  font-family: "Poppins", sans-serif;
  font-size: $fs-md;
  font-weight: $fw-regular;
  color: $clr-neutral-400;
}

.container {
  max-width: 70rem;
  @include margin-x-auto;
}

.gray-bg {
  background-color: $clr-neutral-200;
  margin-top: 10.5rem;

  @include breakpoint-up(medium) {
    margin-top: 9.5rem;
  }
}
