// Colors
$clr-primary-light: hsl(180, 66%, 49%);
$clr-primary-dark: hsl(257, 27%, 26%);

$clr-secondary: hsl(0, 87%, 67%);

$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-200: hsl(230%, 25%, 95%);
$clr-neutral-300: hsl(0, 0%, 75%);
$clr-neutral-400: hsl(257, 7%, 63%);
$clr-neutral-700: hsl(255, 11%, 22%);
$clr-neutral-800: hsl(260, 8%, 14%);

// Font sizes
$fs-md: 1.125rem;

// Font weights
$fw-regular: 500;
$fw-bold: 700;
